<c-card>
  <c-card-header>Login</c-card-header>
  <c-card-body>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <c-input-group class="mb-3">
        <span cInputGroupText>
          <svg cIcon name="cilUser"></svg>
        </span>
        <input autoComplete="username" cFormControl placeholder="Username" formControlName="username" />
      </c-input-group>
      <c-input-group class="mb-4">
        <span cInputGroupText>
          <svg cIcon name="cilLockLocked"></svg>
        </span>
        <input autoComplete="current-password"
               cFormControl
               placeholder="Password"
               type="password"
               formControlName="password" />
      </c-input-group>
      <div class="d-grid">
        <button cButton color="primary" type="submit">Login</button>
      </div>
    </form>
    <div *ngIf="error" class="alert alert-danger mt-3">{{error}}</div>
  </c-card-body>
</c-card>
