<c-header class="header">
  <div class="header-left">
    <div class="header-toggle" (click)="toggleSidebar()">
      <svg cIcon name="cilMenu"></svg>
    </div>
    <div class="header-title">{{ currentPageTitle }}</div>
  </div>
  <div class="header-right">
    <div class="header-action notification-icon" (click)="toggleNotifications()">
      <svg cIcon name="cilBell"></svg>
      <span class="notification-badge" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
    </div>
    <div class="header-action" (click)="openSettings()">
      <svg cIcon name="cilSettings"></svg>
    </div>
    <div class="header-action" (click)="changeLanguage()">
      <svg cIcon name="cilGlobeAlt"></svg>
    </div>
    <div class="header-user" (click)="toggleUserMenu()">
      <c-avatar src="assets/img/avatars/8.jpg" size="sm"></c-avatar>
      <span class="user-name">{{ userName }}</span>
    </div>
  </div>
</c-header>
