.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #d8dbe0;
  height: 56px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-spacer {
  /*flex-grow: 1;*/
  width: 800px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 1rem;
}

  .header-toggle svg {
    width: 20px;
    height: 20px;
    color: #3c4b64;
  }

.header-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #3c4b64;
}

.header-action {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
  position: relative;
}

  .header-action svg {
    width: 20px;
    height: 20px;
    color: #3c4b64;
  }

.notification-icon .notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #e55353;
  color: #fff;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 0.75rem;
  line-height: 1;
}

.header-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}

  .header-user .user-name {
    margin-left: 0.5rem;
    font-weight: 500;
    color: #3c4b64;
  }

c-avatar {
  width: 32px;
  height: 32px;
}
